############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Ignore The following directories / file extensions
Library
Temp
Assets/UnIDE/Editor/DUMMYASSET.psd.meta
Assets/UnIDE/Editor/_TMP

# Ignore the following file extensions
*.exe
*.vcproject
*.sln
*.csproj
*.pidb

